<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Chat</title>
	</head>
	<body>
		<header>
			<h1>Bienvenido al mejor chat de todos</h1>
		</header>
		<div class="borrar">Clean Chat</div>
		<div id="chat" class="chat"></div>
		<p id="type"></p>
		<form class="form">
			<input id="user" type="text" name="user" placeholder="Escribe tu usuario" required />
			<input
				type="text"
				name="message"
				id="message"
				class="message"
				placeholder="Escribe tu mensaje"
				required
			/>
			<button id="btn" type="button">ENVIAR</button>
		</form>
		<script src="/socket.io/socket.io.js" charset="UTF-8"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
